<html>
<head>
</head>
<body>
<div style="float:left;">
<h1>My Computer</h1>
<ul>
<li>CPU: Intel i7-7700K</li>
<li>Mother Board: Gigabyte z270-Gaming-9</li>
<li>GPU: Nvidia GTX 1080Ti</li>
<li>RAM: 32GB (4x8GB) Corsair Dominator Special Edition Chrome 3200MHz</li>
<li>PSU: Corsair HX1000i</li>
<li>Case: Corsair Carbide Air 740</li>
<li>Cooling: Custom Liquid Loop using EK Water Blocks</li>
<li>Storage:
<ul>
<li>Samsung 500GB 960 evo M.2 SSD</li>
<li>2 x Samsung 500GB 850 evo Sata SSD</li>
<li>2 x Seagate 2TB IronWolf NAS HDD</li>
</ul>
</li>
<li><a href="https://pcpartpicker.com/user/joeshway/saved/4j4vK8">PC Part Picker List</a>	
</ul>
</div>
</body>
</html>
